#!/usr/bin/make -f

# Rust build configuration
export CARGO_HOME = $(CURDIR)/debian/cargo_home
export RUSTUP_HOME = $(CURDIR)/debian/rustup_home
export PATH := $(CARGO_HOME)/bin:$(PATH)

%:
	dh $@

override_dh_auto_configure:
	# Trixie only provides version 1.85, the build needs atleast 1.86, so use rustup install script
	# to get newest version.
	if ! which cargo >/dev/null 2>&1; then \
		mkdir -p $(RUSTUP_HOME) $(CARGO_HOME); \
		curl https://sh.rustup.rs -sSf | \
		RUSTUP_HOME=$(RUSTUP_HOME) CARGO_HOME=$(CARGO_HOME) \
		sh -s -- -y --no-modify-path; \
	fi

override_dh_auto_build:
	cargo build --release --bin autorecord --bin cue_creator

override_dh_auto_install:
	install -D -m 0755 target/release/autorecord debian/hifiberry-autorec/usr/bin/autorecord
	install -D -m 0755 target/release/cue_creator debian/hifiberry-autorec/usr/bin/cue_creator
	install -D -m 0644 man/autorecord.1 debian/hifiberry-autorec/usr/share/man/man1/autorecord.1
	install -D -m 0644 man/cue_creator.1 debian/hifiberry-autorec/usr/share/man/man1/cue_creator.1

override_dh_auto_test:
	# Skip tests

override_dh_auto_clean:
	cargo clean || true
